PORT=3333

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_INITDB_DATABASE=app

DBAAS_MONGODB_APP=app

DBAAS_MONGODB_ENDPOINT=mongodb://admin:admin@mongodb:27017/app

# GIN_MODE=debug